.card{
  margin: auto;
  text-align: center;

}
.card button{
  margin: 30px;
  /* margin-left: 5px; */
  position: relative;
  left: 75px;
  background-color: #585170;
  color: aliceblue;
  padding: 7px;
  width: 80px;
  border-radius: 10px;

}
.card button:hover{
  background-color: brown;
}